.menu {
    height: 100vh;
    width: 50%;
    background-color: #0d212c;
    position: fixed;
    right: 0;
    top: 0;
    color: white;
    z-index: 9998;
    transition: width 0.3s ease;
    overflow: scroll;
    /* Smooth transition for resizing */

    /* Mobile-first styles */
    @media (max-width: 768px) {
        width: 80%;
        padding-left: 20px;
        /* Make the menu take full width on smaller screens */
    }

    .body {
        box-sizing: border-box;
        height: 100%;
        padding: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: scroll;

        /* Adjust padding and layout for smaller screens */
        @media (max-width: 768px) {
            padding: 20px;
            margin-top: 80px;
            /* Less padding on small screens */
        }

        .nav {
            display: flex;
            flex-direction: column;
            font-size: 24px;
            gap: 8px;
            margin-top: 80px;

            /* Font size adjustment for smaller screens */
            @media (max-width: 768px) {
                font-size: 18px;
                /* Smaller font size on mobile */
                margin-top: 40px;
                /* Less margin on smaller screens */
            }

            .header {
                color: rgb(153, 153, 153);
                border-bottom: 1px solid rgb(153, 153, 153);
                text-transform: uppercase;
                font-size: 11px;
                margin-bottom: 40px;

                /* Adjust the header margin for mobile */
                @media (max-width: 768px) {
                    margin-bottom: 20px;
                }
            }

            a {
                text-decoration: none;
                color: white;
                font-weight: 300;

                /* Adjust link font size for mobile */
                @media (max-width: 768px) {
                    font-size: 16px;
                    /* Smaller text for links on mobile */
                }
            }
        }
    }
}